.add-collection-page {
  width: 100%;
  min-height: 100vh;
  background: #0b0b0b;
  padding: 40px;
  color: white;
}

.add-collection-page h1 {
  font-size: 28px;
  color: #eec84d;
  margin-bottom: 25px;
}

.add-collection-form {
  background: #111;
  padding: 30px;
  border-radius: 14px;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-collection-form label {
  color: #eec84d;
  font-weight: 600;
}

.add-collection-form input,
.add-collection-form textarea {
  background: transparent;
  border: 1px solid #eec84d;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}

.add-collection-form button {
  background: #eec84d;
  border: none;
  padding: 12px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.add-collection-form button:hover {
  background: #ffda7a;
}

.preview-box {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid #eec84d;
  border-radius: 12px;
  overflow: hidden;
}

.preview-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
